<!-- shared styles for all elements and index.html -->
<dom-module id="shared-styles">
  <template>
    <style>
.page-title {
    @apply(--paper-font-display2);
}

#navDrawer {
    --paper-drawer-panel-scrim: {
        z-index: 16
    };
    --paper-drawer-panel-left-drawer-container: {
        z-index: 16;
    }
}

@media (max-width: 600px) {
    .page-title {
      font: ;ont-size: 24px!important;
    }
}
    </style>
  </template>
</dom-module>
