<!-- @license Copyright (c) 2015 Jacek Rosik. All rights reserved. -->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../data/data-component-types.html">

<link rel="import" href="ecam-component-type-list.html">
<link rel="import" href="ecam-detail-page.html">


<dom-module id="ecam-component-page">
  <template>
    <data-component-types data="{{_componentTypes}}"></data-component-types>

    <style>
:host {
    display: block;
    height: 100%;
}
    </style>

    <ecam-detail-page title="Aircaft Components"
                      narrow-layout="[[narrowLayout]]"
                      detail-visible={{_detailVisible}}>
      <ecam-component-type-list id="list" main
                                items="{{_componentTypes}}"
                                selected-item="{{_selectedComponentType}}">
      </ecam-component-type-list>

      <div detail>Selected component: {{_selectedComponentType.name}}</div>
    </ecam-detail-page>
  </template>

  <script>
(function() {
    'use strict';

    Polymer({
        is: 'ecam-component-page',

        properties: {
            _componentTypes: {
              notify: true,
              type: Array
            },

            _selectedComponentType: {
                type: Object,
                notify: true
            },

            _detailVisible: {
                type: Boolean,
                notify: true
            },

            narrowLayout: {
                type: Boolean,
                reflectToAttribute: true,
                value: false
            }
        },

        observers: [
            '_handleDetailVisibilityChange(_detailVisible)',
            '_handleSelectionChange(_selectedComponentType)'
        ],

        _handleDetailVisibilityChange: function (visible) {
            if (!visible) {
                this.$.list.clearSelection();
            }
        },

        _handleSelectionChange: function (selection) {
            this._detailVisible = selection !== undefined && selection !== null;
        },
    });
})();
  </script>
</dom-module>
