<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->


<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">


<dom-module id="ecam-simple-page">
  <template>
    <style>
:host {
    display: block;
    position: relative;

    height: 100%;
}

#navToggle {
    display: none;
}

:host[narrow-layout] #navToggle {
    display: block;
}
    </style>
    <!-- Main Area -->
    <paper-scroll-header-panel>

      <!-- Main Toolbar -->
      <paper-toolbar>
        <paper-icon-button id="navToggle" icon="menu" on-tap="fireNavToggle">
        </paper-icon-button>
        <div class="app-name">[[title]]</div>

        <span class="flex"></span>

        <!-- Toolbar icons -->

      </paper-toolbar>

      <!-- Main Content -->
      <div class="content">
        <content></content>
      </div>
    </paper-scroll-header-panel>
  </template>

  <script>
(function() {
    'use strict';

    Polymer({
        is: 'ecam-simple-page',

        properties: {
            title: String,
            narrowLayout: {
                type: Boolean,
                reflectToAttribute: true
            }
        },

        fireNavToggle: function (event, detail) {
            this.fire('nav-toggle', detail);
        }
    });
})();
  </script>
</dom-module>
