<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->


<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">


<dom-module id="ecam-detail-page">
  <template>
    <style import="shared-styles"></style>
    <style>
:host {
    display: block;
    position: relative;

    height: 100%;
}

:host:not([narrow-layout]) {
  @apply(--shadow-elevation-4dp);
  z-index: 1;
}

:host[narrow-layout] #navToggle {
    display: block;
}

#navToggle {
    display: none;
}

#detailDrawer paper-toolbar {
  @apply(--shadow-elevation-4dp);
}

#detailDrawer:not([narrow]) #mainPanel {
    @apply(--shadow-elevation-4dp);
    position: relative;
    z-index: 2;
}

#detailDrawer {
    --paper-drawer-panel-right-drawer-container: {
        background: var(--primary-background-color);
    }
    --paper-drawer-panel-scrim: {
        display: none;
    }
}

#mainPanel {
    height: 100%;
}

#mainPanel .content {
    height: calc(100% - 64px);
}

#detailPane paper-toolbar {
    --paper-toolbar-background: var(--detal-drawer-toolbar-background, --default-primary-color);
    --paper-toolbar-color: var(--detal-drawer-toolbar-color, --text-primary-color);
}
    </style>

    <paper-drawer-panel id="detailDrawer" right-drawer disable-swipe
                        narrow="{{_narrow}}"
                        responsive-width="[[_computeResponsiveWidth(detailVisible)]]"
                        default-selected="[[_computeDefaultSelected(detailVisible)]]"
                        drawer-width="[[_computeDrawerWidth(_narrow, detailWidth)]]">
      <paper-scroll-header-panel id="detailPane" drawer>
        <paper-toolbar>
            <paper-icon-button id="detailToggle" on-tap="handleDetailToggle"
                               icon="[[_computeCloseDetailIcon(_narrow, detailVisible)]]">
            </paper-icon-button>
          <div class="app-name">Detail</div>
        </paper-toolbar>

        <content select="[detail]"></content>
      </paper-scroll-header-panel>

      <!-- Main Area -->
      <div id="mainPanel" main fixed>

        <!-- Main Toolbar -->
        <paper-toolbar>
          <paper-icon-button id="navToggle" icon="menu" on-tap="fireNavToggle">
          </paper-icon-button>
          <div class="app-name">[[title]]</div>

          <span class="flex"></span>

          <!-- Toolbar icons -->

        </paper-toolbar>

        <!-- Main Content -->
        <div class="content">
          <content select="[main]"></content>
        </div>
      </div>
    </paper-drawer-panel>


  </template>

  <script>
(function() {
    'use strict';

    Polymer({
        is: 'ecam-detail-page',

        properties: {
            title: String,

            narrowLayout: {
                type: Boolean,
                reflectToAttribute: true
            },

            detailVisible: {
                type: Boolean,
                notify: true,
                value: false
            },
            detailWidth: {
                type: String,
                value: '66%'
            },

            _narrow: {
                type: Boolean,
                notify: true
            }
        },

        _computeCloseDetailIcon: function(narrow, visible) {
            return narrow && visible ? 'arrow-back' : 'close';
        },

        _computeResponsiveWidth: function (detail) {
            return detail ? '840px' : '9999px';
        },

        _computeDefaultSelected: function (detail) {
            return detail ? 'drawer' : 'main';
        },

        _computeDrawerWidth: function (narrow, width) {
            return narrow ? '100%' : width;
        },

        fireNavToggle: function (event, detail) {
            this.fire('nav-toggle', detail);
        },

        handleDetailToggle: function (event, detail) {
            /* jshint unused: false */
            this.detailVisible = false;
        }
    });
})();
  </script>
</dom-module>
