<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">


<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">


<dom-module id="ecam-component-type-list">
  <template>
    <style>
:host {
    display: block;
    position: relative;
}

:host iron-icon {
    color: var(--secondary-text-color);
}

:host paper-item[selected] .primary {
    font-weight: bold;
}

:host, :host iron-list {
    height: 100%;
}
    </style>

    <iron-list id="list" items="[[items]]"
               selection-enabled selected-item="{{selectedItem}}">
      <template>
        <paper-item selected$="[[selected]]">
          <paper-item-body two-line>
            <div class="primary">[[item.name]]</div>
            <div secondary>[[item.manufacturer]] (P/N: [[item.partNumber]])</div>
          </paper-item-body>
          <iron-icon icon="chevron-right"></iron-icon>
        </paper-item>
      </template>
    </iron-list>
  </template>

  <script>
(function() {
    'use strict';

    Polymer({
        is: 'ecam-component-type-list',

        properties: {
            items: Array,
            selectedItem: {
                type: Object,
                notify: true
            }
        },

        clearSelection: function () {
            this.$.list.clearSelection();
        }
    });
})();
  </script>
</dom-module>
