<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->


<link rel="import" href="../../bower_components/polymer/polymer.html">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.0.1/faker.min.js"></script>


<dom-module id="data-component-types">
  <template></template>
  <script>
(function() {
    'use strict';
    /* globals faker: false */

    Polymer({
        is: 'data-component-types',

        properties: {
            data: {
                notify: true,
                readOnly: true,
                value: function () {
                    var types = [];

                    for(var i = 0; i < 999; ++i) {
                        var type = {};

                        type.name = faker.commerce.productName();
                        type.partNumber = faker.random.number();
                        type.manufacturer = faker.company.companyName();

                        type.components = [];
                        for (var j = 0; j < (Math.random() * 11); ++j) {
                            var component = {};
                            component.type = type;
                            component.serialNumber = faker.random.number();

                            type.components.push(component);
                        }

                        types.push(type);
                    }

                    return types;
                }
            }
        }
    });
})();
  </script>
</dom-module>
